body {
    background-color: ivory;
    font-family:'Baskerville', 'Libre Baskerville', Arial, sans-serif;
    text-align: center;
}

div {
    border: 2px solid#1E3445;
    display: inline-block;
    padding: 10px;
}

img {
    border: 10px solid#1e3445;
}

.special {
    background-color: #322148;
}

#title {
    color: #25254b;
}

#title:hover {
    font-weight: bold;
    font-style: italic;
}

a:link {
    color: #0c0c30;
}

a:visited {
    color: #322148;
}

.palette{
    background-color: white;
    width: 800px;
}

.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}

.dot.one {
    background-color: #25254b;
}

.dot.two {
    background-color: #1e3445;
}

.dot.three {
    background-color: #322148;
}

.dot.four {
    background-color: #0c0c30;
}
